.survey{
  border: solid 2px white;
  padding: 20px;
}

.chart-legend{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

span{
  border: 2px solid blue;
}

.checkbox-div{
  display: flex;
  flex-direction: column;
}